<% include common/header.ejs %>

<div class="container-fluid">

    <div class="main-content">
        <div class="pizzas-filters">
            <div class="title">
                <h2>
                <span id="type-title">Усі піци</span>
                <span class="badge">8</span>
                </h2>
            </div>
            <div class="pizza-type">
                <ul>
                    <li><a id="all" class="active" href="#">Усі</a></li>
                    <li><a id="meat" href="#">М'ясні</a></li>
                    <li><a id="pineapple" href="#">З ананасом</a></li>
                    <li><a id="mushroom" href="#">З грибами</a></li>
                    <li><a id="ocean" href="#">З морепродуктами</a></li>
                    <li><a id="tomato" href="#">Вега</a></li>
                </ul>
            </div>
        </div>

        <div class="row" id="pizza_list">
            
        </div>


    </div>
</div>

<div class="panel-right">
    <div class="left-block">
        Замовлення
        <span class="badge"></span>
        <span id="cleanup">Очистити замовлення</span>
    </div>
    <div class="order-list">

        

    </div>
    <div class="buy-block">
        <div class="sum_price_text">
            СУМА: <span class="sum_price"></span>
        </div>
        <button class="btn btn-warning order-button">Замовити</button>
    </div>
</div>

<% include common/footer.ejs %>